body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.home-container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

.search-container {
    margin: 20px 0;
}

.search-container input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #218838;
}

.latest-meals {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap; /* Kartların alt satıra geçmesini sağlar */
}

.meal-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 150px; /* Kart genişliği */
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none; /* Bağlantının altını çizme */
}

.meal-card img {
    width: 100%; /* Resmi kartın genişliğine göre ayarla */
    height: auto; /* Yüksekliği otomatik ayarla */
    border-radius: 4px;
}

.meal-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}